name: Pull request

on:
  pull_request:

permissions:
  contents: write

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: shivammathur/setup-php@v2
        with:
          php-version: 5.6
          extensions: none, curl, dom, mbstring, simplexml, tokenizer, xml, xmlwriter, json
          coverage: none

      - run: composer install --no-dev

      - run: chmod 777 -R vendor

      - run: git archive --output=tpay-openapi-php.zip HEAD

      - run: zip -ur tpay-openapi-php vendor/

      - run: mkdir sdk && unzip tpay-openapi-php.zip -d sdk

      - uses: actions/upload-artifact@v4
        id: plugin-upload
        with:
          name: 'tpay-openapi-php'
          path: 'sdk/'

      - uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.TOKEN }}
          script: |
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: 'Tpay OpenAPI SDK - ${{ steps.plugin-upload.outputs.artifact-url }}'
            })
